{% extends "base_generic.html" %}

{% block title %}
<title>Jenga Leaderboard</title>
{% endblock %}

{% block page_header %}
<h1>Jenga Leaderboard</h1>
{% endblock %}

{% block content %}
    {% if object_list %}
        <table class="table table-striped" style="width:100%">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for team in object_list %}
            <tr>
                <td scope=row"><strong>{{ team }}</strong></td>
                <td>{{ team.jenga_score }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No teams yet</p>
{% endif %}
<p><a href="{% url 'clues:update-jenga' %}">Stop Attendant: Update Jenga Score</a></p>
{% endblock %}

